<!DOCTYPE html>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles.css') }}"
/>
<html>
  <head>
    <title>Movie and TV Search</title>
  </head>
  <body>
    <div class="sidebar">
      <h2>Navigation</h2>
      <ul>
        <li>
          <a
            href="{{ url_for('static', filename='movie.html') }}"
            target="contentFrame"
            >Movie Search</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('static', filename='tv.html') }}"
            target="contentFrame"
            >TV Search</a
          >
        </li>
      </ul>
    </div>

    <div class="content">
      <iframe
        name="contentFrame"
        src="{{ url_for('static', filename='movie.html') }}"
      ></iframe>
    </div>

    <script>
      // Get the document inside the iframe
      window.onload = function () {
        var iframe = document.getElementById("myiframe");
        iframe.width = iframe.contentWindow.document.body.scrollWidth;
        iframe.height = iframe.contentWindow.document.body.scrollHeight;
      };
    </script>
  </body>
</html>
